<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>available items</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
               
                <!-- Add more headers as needed -->
            </tr>
        </thead>
        <tbody>
            
             <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.cost}"></td>
                
                <td><input type="hidden" th:attr="name='id', value=${id}" /></td>
                <td><a th:href="@{'/addtocart?id=' + ${item.id}+ '&uid=' + ${id}}">addtocart</a></td>
             </tr>


             


                
       
              
            </tr>
        </tbody>
    </table>
  


</body>
</html>